.create-book-container {
    background-color: #B07156;
    border: 0;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
}

.container {
    padding: 30px;
}

.container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px
}

legend {
    background-color: #533745;
}

.notranslate {
    background-color: #533745;
}