.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.input-container {
    display: flex;
    flex-direction: column;
    background-color: #533745;
    padding: 220px;
    border-radius: 20px;
    gap: 20px;
}

@media screen and (max-width: 600px) {
    .input-container {
      padding: 80px;
    }
}

.title-signup {
    color: #E0E3E7;
    margin-top: -50px;
}